{
  "env": {
    "browser": true
  },
  "rules": {
    "no-mixed-operators": "off",
    "no-param-reassign": "off"
  },
  "extends": "dgeibi",
  "globals": {
    "$": false,
    "courseBlackList": false
  }
}
